@media screen and (min-width: 90em) {
  .light-dark-toggle {
    height: 219px;
  }

  body {
    background-image: url("/assets/images/pattern-background-desktop-dark.svg");
    background-repeat: no-repeat;
    object-fit: cover;
  }

  main {
    flex-direction: row;
    align-items: flex-start;
  }

  /* The toggle for light/dark mode*/

  .icons {
    width: 24px;
    height: 24px;
  }

  .toggle-wrapper {
    padding-right: 8.938rem;
  }

  .toggle-wrapper,
  .frontend-wrapper,
  .frontend-subjects {
    max-width: 1160px;
  }

  .frontend-head > h1 {
    max-width: 595px;
    padding-right: 8.188rem;
  }

  .frontend-head > p {
    padding-top: 3rem;
  }

  /* Subject links */

  .html,
  .css,
  .javascript,
  .accessibility {
    width: 56px;
    height: 56px;
    margin: 0.75rem;
    border-radius: 12px;
    padding: 6px;
  }

  .frontend-subjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .subject {
    width: 564px;
    height: 96px;
    border-radius: 24px;
  }
}
