:root {
  /* Colors */

  --Purple: #a729f5;
  --Dark-navy: #313e51;
  --Navy: #3b4d66;
  --Grey-navy: #626c7f;
  --Light-bluish: #abc1e1;
  --Light-grey: #f4f6fa;
  --White: #ffffff;
  --Green: #26d782;
  --Red: #ee5454;

  /* Typography */
  --Rubik: "Rubik", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  display: block;
  width: 100%;
}

body {
  font-family: var(--Rubik);
  background-color: var(--Dark-navy);
  background-repeat: no-repeat;
  object-fit: cover;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header toggle */

.light-dark-toggle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

/* The toggle for light/dark mode*/

.icons {
  width: 24px;
  height: 24px;
}

.purple-slider {
  width: 48px;
  height: 28px;
}

.slider-switch-white {
  width: 20px;
  height: 20px;
}

.toggle-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.purple-slider {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 999px;
  background-color: var(--Purple);
  cursor: pointer;
}

.slider-switch-white {
  background-color: var(--White);
  border-radius: 50%;
  margin: 0rem 0.25rem;
}

/* Actual content */

.frontend-wrapper {
  max-width: 375px;
}

.frontend-head > h1 {
  font-size: 4rem;
  color: var(--White);
  font-weight: lighter;
}

.h1-special {
  font-weight: bold;
}

.frontend-head > p {
  padding-top: 1rem;
  font-size: 1.25rem;
  color: var(--Light-bluish);
}

/* Subject links */

.html {
  background-color: #fff1e9;
}

.css {
  background-color: #e0fdef;
}

.javascript {
  background-color: #ebf0ff;
}

.accessibility {
  background-color: #f6e7ff;
}

.subject {
  display: flex;
  align-items: center;
  background-color: var(--Navy);
  text-decoration: none;
  list-style: none;
  cursor: pointer;
}

.subject > h2 {
  color: var(--White);
}
