@media screen and (min-width: 48em) and (max-width: 90em) {
  .light-dark-toggle {
    height: 131px;
  }

  body {
    background-image: url("/assets/images/pattern-background-tablet-dark.svg");
  }

  /* The toggle for light/dark mode*/

  .toggle-wrapper {
    padding-right: 4rem;
  }

  /* Actual content */

  .frontend-wrapper,
  .frontend-subjects {
    max-width: 640px;
  }

  .frontend-head {
    padding-bottom: 3.938rem;
  }

  .frontend-head > h1 {
    font-size: 4rem;
  }

  .frontend-head > p {
    padding-top: 1rem;
    font-size: 1.25rem;
  }

  /* Subject links */

  .html,
  .css,
  .javascript,
  .accessibility {
    width: 56px;
    height: 56px;
    margin: 0.75rem;
    border-radius: 12px;
    padding: 6px;
  }

  .frontend-subjects {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .subject {
    width: 640px;
    height: 80px;
    border-radius: 24px;
  }


}
