@media screen and (max-width: 48em) {

    .light-dark-toggle {
        height: 72px;
    }


    body {
        background-image: url("/assets/images/pattern-background-mobile-dark.svg");
        background-repeat: no-repeat;
        object-fit: cover;
    }

    /* The toggle for light/dark mode*/

    .icons {
        width: 16px;
        height: 16px;
    }


    .purple-slider {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 32px;
        height: 20px;
        border-radius: 999px;
    }

    .slider-switch-white {
        background-color: var(--White);
        border-radius: 50%;
        width: 12px;
        height: 12px;
        margin: 0rem 0.25rem;
    }
}